<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Reset Password</h1>
  
    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /login route -->
            <form action="/reset_password" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
              </div>

              <div class="form-group">
                <!-- <a href="/security">Click here to Answer some Security Questions</a> -->
                <label for="security">Select a Security Question :</label><br>
                <select name="Questions" id="ques">
                  <option value="ques">In which city you were born in?</option>
                  <option value="ques">What is the name of your first school?</option>
                  <option value="ques">Which is your Favourite sports team?</option>
                  <option value="ques">What is your favorite vacation destination?</option>
                  <option value="ques">What is your favorite food?</option>
                  
                </select>
                <input type="text" class="form-control mt-3" name="Answer" placeholder="Answer...">
              </div>

              <div class="form-group">
                <label for="password">Reset Password</label>
                <input type="password" class="form-control" name="new_password">
              </div>
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password">
              </div>
              
              <button type="submit" class="btn btn-dark">Reset Password</button>
            </form>
  
          </div>
        </div>
      </div>



</div>







<%- include('partials/footer') %>